<a href="https://colab.research.google.com/github/brianMutea/Bag-of-Words-and-TfidfVectorizer/blob/main/Bag_of_Words(BoW)_and_TFidfVectorizer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
sent1 = 'You are very strong'
sent2 = 'You are really good at what you do'
sent3 = 'You deserve the best in life'

In [14]:
corpus = [sent1, sent2, sent3]
corpus

['You are very strong',
 'You are really good at what you do',
 'You deserve the best in life']

In [28]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [24]:
cv = CountVectorizer()

# to make the words into a sparse array we use the fit_transform

X = cv.fit_transform(corpus).toarray() # the sparse array
X

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1],
       [1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 2],
       [0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1]])

In [26]:
cv.get_feature_names()

['are',
 'at',
 'best',
 'deserve',
 'do',
 'good',
 'in',
 'life',
 'really',
 'strong',
 'the',
 'very',
 'what',
 'you']

In [27]:
pd.DataFrame(X, columns=cv.get_feature_names())

,are,at,best,deserve,do,good,in,life,really,strong,the,very,what,you
0,1,0,0,0,0,0,0,0,0,1,0,1,0,1
1,1,1,0,0,1,1,0,0,1,0,0,0,1,2
2,0,0,1,1,0,0,1,1,0,0,1,0,0,1

The problem with BoW is that it give impoetance to all the words

To overcome this and for our model to perform better we use the TFidfVectorizer

In [29]:
tfidf_vect = TfidfVectorizer()

X = tfidf_vect.fit_transform(corpus).toarray()

In [31]:
X.shape

(3, 14)

In [33]:
pd.DataFrame(X, columns=tfidf_vect.get_feature_names())

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,are,at,best,deserve,do,good,in,life,really,strong,the,very,what,you
0,0.444514,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.584483,0.000000,0.584483,0.000000,0.345205
1,0.287993,0.378676,0.000000,0.000000,0.378676,0.378676,0.000000,0.000000,0.378676,0.000000,0.000000,0.000000,0.378676,0.447305
2,0.000000,0.000000,0.432385,0.432385,0.000000,0.000000,0.432385,0.432385,0.000000,0.000000,0.432385,0.000000,0.000000,0.255374